HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.idea/
/.mvn/
/docker/rabbitmq/mnesia/rabbit@rabbitmq/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.config
/docker/rabbitmq/.erlang.cookie
/docker/rabbitmq/mnesia/rabbit@rabbitmq/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/queues/2UGY0ZQBKP3PQ8P8VK9PV0XUQ/.queue_name
/docker/rabbitmq/mnesia/rabbit@rabbitmq/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/queues/A19V03PTC5CQIF5FRM0BDI5WS/.queue_name
/docker/rabbitmq/mnesia/rabbit@rabbitmq/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.vhost
/docker/rabbitmq/mnesia/rabbit@rabbitmq/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/queues/2UGY0ZQBKP3PQ8P8VK9PV0XUQ/0.idx
/docker/rabbitmq/mnesia/rabbit@rabbitmq/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/queues/A19V03PTC5CQIF5FRM0BDI5WS/0.idx
/docker/rabbitmq/mnesia/rabbit@rabbitmq/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/0.rdq
/docker/rabbitmq/mnesia/rabbit@rabbitmq/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/0.rdq
/docker/rabbitmq/mnesia/rabbit@rabbitmq/coordination/rabbit@rabbitmq/00000002.wal
/docker/rabbitmq/mnesia/rabbit@rabbitmq/quorum/rabbit@rabbitmq/00000002.wal
/docker/rabbitmq/mnesia/rabbit@rabbitmq/cluster_nodes.config
/docker/rabbitmq/mnesia/rabbit@rabbitmq/DECISION_TAB.LOG
/docker/rabbitmq/mnesia/rabbit@rabbitmq/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/queues/2UGY0ZQBKP3PQ8P8VK9PV0XUQ/journal.jif
/docker/rabbitmq/mnesia/rabbit@rabbitmq/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/queues/A19V03PTC5CQIF5FRM0BDI5WS/journal.jif
/docker/rabbitmq/mnesia/rabbit@rabbitmq/LATEST.LOG
/docker/rabbitmq/mnesia/rabbit@rabbitmq/coordination/rabbit@rabbitmq/meta.dets
/docker/rabbitmq/mnesia/rabbit@rabbitmq/quorum/rabbit@rabbitmq/meta.dets
/docker/rabbitmq/mnesia/rabbit@rabbitmq/coordination/rabbit@rabbitmq/names.dets
/docker/rabbitmq/mnesia/rabbit@rabbitmq/quorum/rabbit@rabbitmq/names.dets
/docker/rabbitmq/mnesia/rabbit@rabbitmq/nodes_running_at_shutdown
/docker/rabbitmq/mnesia/rabbit@rabbitmq.pid
/docker/rabbitmq/mnesia/rabbit@rabbitmq-feature_flags
/docker/rabbitmq/mnesia/rabbit@rabbitmq/rabbit_durable_exchange.DCD
/docker/rabbitmq/mnesia/rabbit@rabbitmq/rabbit_durable_queue.DCD
/docker/rabbitmq/mnesia/rabbit@rabbitmq/rabbit_durable_queue.DCL
/docker/rabbitmq/mnesia/rabbit@rabbitmq/rabbit_durable_route.DCD
/docker/rabbitmq/mnesia/rabbit@rabbitmq/rabbit_runtime_parameters.DCD
/docker/rabbitmq/mnesia/rabbit@rabbitmq/rabbit_serial
/docker/rabbitmq/mnesia/rabbit@rabbitmq/rabbit_topic_permission.DCD
/docker/rabbitmq/mnesia/rabbit@rabbitmq/rabbit_user.DCD
/docker/rabbitmq/mnesia/rabbit@rabbitmq/rabbit_user_permission.DCD
/docker/rabbitmq/mnesia/rabbit@rabbitmq/rabbit_vhost.DCD
/docker/rabbitmq/mnesia/rabbit@rabbitmq/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/recovery.dets
/docker/rabbitmq/mnesia/rabbit@rabbitmq/schema.DAT
/docker/rabbitmq/mnesia/rabbit@rabbitmq/schema_version
